
.login-form {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login-button {
    margin: 0 auto;
}

.form-item {
    margin: 8px ;
}

.item-label {
    width: 100px;
    display: inline-block;
    text-align: right;
    padding: 0 8px;
}